<h3>InventoryList</h3>
<br/>

<ViewInventoriesComponent OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>

@code {

    private void OnSearchInventories(List<Inventory> inventories)
    {

    }
}
